<form [formGroup]="userForm" (ngSubmit)="submitForm()">
  <div>
    <label for="name">Name:</label>
    <input
      type="text"
      id="name"
      name="name"
      placeholder="Name"
      formControlName="name"
    />
  </div>
  <div>
    <label for="email">Email:</label>
    <input
      type="email"
      id="email"
      name="email"
      placeholder="Email"
      formControlName="email"
    />
  </div>
  <div formGroupName = "address">
    <label for="street">Street:</label>
    <input
      type="text"
      id="street"
      name="street"
      placeholder="Street"
      formControlName="street"
    />
    <label for="city">City:</label>
    <input
      type="text"
      id="city"
      name="city"
      placeholder="City"
      formControlName="city"
    />
  </div>
  <div formArrayName="phoneNumbers">
    <div *ngFor="let phoneCtrl of phoneNumbers.controls; let i = index;">
      <label>Phone Number {{ i + 1 }}:</label>
      <input type="text" [formControlName]="i" /> <!-- Fix here: [formControlName]="i" -->
      <button type="button" (click)="removePhoneNumber(i)">Remove Phone Number</button>
    </div>

    <div>
      <button type="button" (click)="addPhoneNumber()">Add Phone Number</button>
    </div>
  </div>
  <div>
    <button type="submit" [disabled]="!userForm.valid">Submit</button>
  </div>
</form>
